@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.ant-spin-dot-item {
  background-color: #3b8cfd !important;
}

.code {
  margin: 0 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: rgb(235, 237, 241);
  color: rgb(176, 184, 196);
}

.ant-spin-text {
  margin-top: 8px;
  color: #767676 !important;
  letter-spacing: 2px;
}

.content {
  padding: 1.2rem;
  background-color: #fff;
  border-radius: 0.4rem;
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(115, 115, 115, 0.2);
    background: rgba(106, 106, 106, 0.2);
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px #fff;
    border-radius: 0;
    background: #fff;
  }
}