@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.ant-spin-dot-item {
  background-color: #3b8cfd !important;
}

.code {
  margin: 0 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: rgb(235, 237, 241);
  color: rgb(176, 184, 196);
}

.ant-spin-text {
  margin-top: 8px;
  color: #767676 !important;
  letter-spacing: 2px;
}